# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# sources
*.go text

# Compiled Object files
*.slo binary
*.lo binary
*.o binary
*.obj binary

# Compiled Dynamic libraries
*.so binary
*.dylib binary
*.dll binary

# Compiled Static libraries
*.lai binary
*.la binary
*.a binary
*.lib binary

# Executables
*.exe binary
*.out binary
